* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: white; }

.logo {
  position: fixed;
  top: 3%;
  left: 1%; }

ul {
  position: fixed;
  top: 3%;
  right: 2%; }
  ul li {
    display: inline-block;
    margin-left: 50px; }
    ul li a {
      margin-left: 2px;
      color: white;
      text-decoration: none; }
      ul li a:hover {
        text-decoration: underline; }

.parallax-window {
  height: 100vh; }

.copyright {
  position: fixed;
  bottom: 2%;
  left: 2%; }

.contact {
  position: fixed;
  bottom: 2%;
  right: 4%;
  color: white;
  text-decoration: none;
  font-size: 20px; }
  .contact:hover {
    text-decoration: underline; }
